.repl_history
.*.sw?
build
vendor/cdq/ext/build-*
vendor/cdq/ext/ext.bridgesupport
resources/*.nib
resources/*.momd
resources/*.storyboardc
resources/*.xcdatamodeld
examples/**/*.nib
tags
.rbenv-version
pkg
.yardoc
*.gem
Gemfile.lock
